.cart {
  
  background-color:blue;
  text-align: center;
    margin: 30px auto;
    font-family: sans-serif;
    max-width: 90%;
    min-height: 72vh;
      
  }
  
  .tengo {
    height:50px;
    width:400px;
     margin:0px auto;
    background-color:red;
  }
  .cantidad{
    background-color: rgb(235, 216, 3);

  }
  button {
  background-color: aqua;
  }