@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Island+Moments&display=swap');

.letraTitulo{
    font-family: 'Comfortaa', cursive;
font-family: 'Island Moments', cursive;
}
.fondoContador{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 96.5%;
    border-top: 2px solid black;
    border-bottom:2px solid black ;
    border-left:2px solid black ;
    border-right:2px solid black ;
    
}
.Margen{
    margin-left: 20px;
}