@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

a {
  color: inherit;
}

.loading {
  text-align: center;
  padding-top: 20rem;
  font-size: 5rem;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #216de7a0;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

/* Navbar */

.navbar {
  color: rgb(240, 240, 240);
  background-color: #236ee7a0;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
 justify-content:center;
 font-size: 1.5rem;
 margin: 0.5rem 0 0 1.5rem;
}

.navbar__leaf {
  margin-right: 0.6rem;
}

.navbar__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10rem;
}

.navbar__ul li {
  margin-right: 1rem;
  font-weight: 600;
  transition:all 0.5s;
}

.navbar__ul li:hover {
  font-size: 1.1rem;
  text-shadow: 0px 0px 10px whitesmoke;
}

.NavbarW__div {
  display: flex;
  margin-right: 3rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.navbarW__cart {
  padding-right: 0.5rem;
}

/* Counter */

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.counter__add {
  width: 1.2rem;
  background-color: #1bb371;
  border: 0;
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
  transition: 0.2s all ease-in-out;
  border-radius: 5px;
} 

.counter__add:hover {
  background-color: #414a56;
} 

.counter__sub {
  width: 1.2rem;
  background-color: #d91b1b;
  border: 0;
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
  transition: 0.2s all ease-in-out;
  border-radius: 5px;
}

.counter__sub:hover {
  background-color: #353c46;
} 

.counter__number {
  width: 10rem;
  height: 23.3px;
  text-align: center;
  font-size: 1.2rem;
}

.counter__buybutton{
  display: flex;
  border: 0;
  width: 197.9px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.2rem 0;
  background-color:#154dd2;
  color: rgb(240, 240, 240);
  transition: all 0.2s ease-in-out;
} 

.counter__buybutton:hover:enabled{
  background-color: #414a56;
  font-size: 1.3rem;
  margin-top: 0;
  cursor: pointer;
}

.counter__buybutton:disabled {
  background-color: #484f5c;
  color: rgb(127, 127, 127);
  cursor: default;
  box-shadow: 2px 2px 5px #171717;
} 

.counter__cart {
  padding-left: 0.4rem;
}

/* Cards */

.card{
  width: 250px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  background-color:#236ee7a0;
}

.card__img{
  width: 248px;
  height: 250px;
  border-bottom: 1px black solid;
}

.card__name {
  margin-top: 0.5rem;
  font-size: 1.35rem;
  font-weight: 500;
}

.card__hr {
  width: 230px;
  margin: 0.4rem 0;
}

.card__div {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.card__category {
  color: rgb(146, 146, 146);
}

.card__btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.2rem;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.card__btn:hover {
  font-size: 1.3rem;
  background-color: rgb(232, 232, 232);
}

.containercards {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

.container {
  background-color:#e0e8f5;
  min-height: 95.3vh;
}

/* ItemDetail */

.iDC {
  background-color:#272c34;
  padding-top: 3rem;
  color: rgb(232, 232, 232);
  min-height: 95.3vh;
}

.iDC__container {
  max-width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.iDC__img {
  border-radius: 10px;
  max-width: 650px;
  max-height: 800px;
  min-height: 650px;
  background-color: white;
}

.iDC__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 10rem;
  min-height: 10rem;
}

.iDC__name {
  font-size: 4.5rem;
}

.iDC__hr {
  width: 100%;
  margin: 1rem 0;
}

.iDC__desc {
  font-size: 1.7rem;
  text-align: center;
}

.iDC__PyS {
  display: flex;
  width: 50%;
  margin: 0.8rem 0 0.2rem 0;
  align-items: center;
  justify-content: space-between;
}

/* Cart */

.list__background {
  background-color:#272c34;
  min-height: 95.3vh;
}

.list__container {
  max-width: 80%;
  margin: auto;
  padding-top: 2rem;
}

.obj__div {
  background-color:#1a1d23;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 330px 1fr 300px;
  grid-template-rows: none;
  grid-template-areas: 
  "img info delete"
  ;
  margin-bottom: 2rem;
}


.obj__divext {

  border-radius: 5px;
  display: grid;
  grid-template-rows: none;
  color: #fff;
  margin-bottom: 2rem;
}

.obj__img {
  height: 250px;
  width: 320px;
  border-radius: 5px 0px 0px 5px;
  grid-area: img;
}

.obj__nameQty {
  color: rgb(232, 232, 232);
  grid-area: info;
  font-size: 2.5rem;
  padding: 1rem 0 0 1rem;
}

.obj__price {
  color: rgb(232, 232, 232);
  grid-area: info;
  font-size: 1.7rem;
  padding: 4rem 0 0 1rem;
}

.obj__remove {
  grid-area: delete;
  background-color: rgb(179, 10, 10);
  border: none;
  color: rgb(244, 208, 208);
  font-size: 1rem;
  width: 135px;
  height: 50px;
  border-radius: 3px;
  align-self: center;
  justify-self: center;
}

.list__buttons {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-bottom: 5rem;
}

.list__clear {
  background-color: rgb(179, 10, 10);
  border: none;
  color: rgb(244, 208, 208);
  font-size: 1rem;
  width: 135px;
  height: 50px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  margin-left: 4.6rem;
}

.list__buy {
  background-color: rgb(189, 255, 202);
  border: none;
  color: rgb(42, 150, 62);
  font-size: 1rem;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  margin-right: 4.6rem;
}


.list__add {
  background-color: rgb(16, 35, 208);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  margin-right: 4.6rem;
}

.list__total{


  grid-area: delete;
 
  border: none;
  color: rgb(244, 208, 208);
  font-size: 1rem;
  width: 135px;
  height: 50px;
  border-radius: 3px;
  align-self: center;
  justify-self: center;
}



/* Form */


 .form{
  margin: 0 auto;
  height: 1000px;
  max-width:850px;
  border: 1px solid #e07924;
  box-shadow: 0 5px 15px #e07924;
  border-radius: 10px;
  padding: 0 3%;
  background-color: #f1f1f1;
  margin-bottom: 300px;
  z-index: 10;
}

.FinalizandoCompra{
  color: #e07924;
  text-align: center;
  padding: 50px;
}

.formText{
  color: #fff;
  text-align: center;
  padding: 15px;
}

.formText {
  color: #e07924;
}

input{
  background: #fff;
  align-items: center;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #e07924; 
  color: white;
  box-shadow: 1px 5px 5px #e07924;
  padding: 5px 0;
  margin: 5px 0;

}

input::placeholder {
  color: #e07924;
  font-weight: 500;
}

input:focus {
  background: none;
  outline: none;
  box-shadow: none;}










.formcontainer{
  width: 100%;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  display:contents;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  background-color: rgba(11, 196, 247, 0.413);
}